@model SmartSuccess.Models.Etudiant

@{
    ViewBag.Title = "Ajout étudiant";
}

<h2>Ajouter étudiant</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Nom, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Prenom, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Prenom, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Prenom, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ID_Niveau, "ID_Niveau", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("ID_Niveau", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ID_Niveau, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <label>Date d'inscription</label>
        <div class="col-md-10">
            <input type="date" id="Date_Inscription" name="Date_Inscription" class="form-control" />
            @Html.ValidationMessageFor(model => model.Date_Inscription, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-success" style="margin-top:1%">Ajouter</button>

        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Retour vers la liste des étudiants", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
