@model SmartSuccess.Models.Paiement

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Paiement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date_Paiement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Paiement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Etat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Etat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Etudiant.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Etudiant.Nom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Paiement }) |
    @Html.ActionLink("Back to List", "Index")
</p>
